@import '../src/fonts.scss';
@import '../src/vars.scss';

.quote{
    position: relative;
    display: block;
    font-family: 'RobotoCondensed-Regular';
    padding: 8pt 12pt;
    margin: 24px 0;
    background-color: $sea-soft;
    box-shadow: inset 2pt 0 0 0 $sea-hard;
    color: $semi-dark-color;
    span{
        position: relative;
        display: block;
        padding-top: 5pt;
        text-align: right;
        font-family: 'RobotoCondensed-Bold';
        color: $sea-hard;
    }
}