@import './src/vars.scss';

.app {
    width: $app-w;
    height: $fit;
    margin-bottom: 50px;
}

#app-content {
    $w-menu-aside: 200pt;
    padding-top: 30pt;
    width: 100%;
    height: fit-content;

    .search-section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 60pt;
        padding: 0 10pt;
        background-color: $dark-color;
        border-radius: 8pt 8pt 0 0;

        input[type="text"] {
            width: calc($w-menu-aside - 20pt);
            height: $fit;
            padding: 4pt 8pt;
            outline: none;
            border-radius: 2pt;
            font-family: 'RobotoCondensed-Regular';
            font-weight: bolder;
            color: $light-color;
            background-color: $dark-color;
            border: none;
            transition: 0.4s;
        }

        input[type="text"]:hover {
            background-color: rgba(250, 250, 250, 0.5);
        }

        input[type="text"]:focus {
            color: $dark-color;
            background-color: $light-color;
        }
    }

    #content-articule-app {
        display: flex;
        flex-flow: row nowrap;
        background-color: $light-color;

        article {
            width: calc(100% - $w-menu-aside);
            padding: 10pt;
            box-shadow: inset -1pt 0 0 0 $light-gray;
        }

        aside {
            width: $w-menu-aside;
            padding: 20pt 10pt;
        }
    }
}

@media only screen and (max-width: 720px) {
    $w-m: 180px;

    .app {
        width: 88%;
    }

    #app-content {
        .search-section {
            input[type="text"] {
                width: calc($w-m - 20pt);
            }
        }

        #content-articule-app {
            article {
                width: calc(100% - $w-m);
            }

            aside {
                width: $w-m;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    $w-m: 130px;

    .app {
        width: 94%;
    }

    #app-content {
        .search-section {
            input[type="text"] {
                width: calc($w-m - 20pt);
            }
        }

        #content-articule-app {
            article {
                width: calc(100% - $w-m);
            }

            aside {
                width: $w-m;
            }
        }
    }
}