@import './src/vars.scss';
@import './src/fonts.scss';

@mixin center{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.author-secc{
    $color-font: $semi-dark-color;
    @include center;
    padding: 40px 0 60px 0;
    box-shadow: inset 0 80px 0 0 $light-color;
    background-color: $light-gray;
    .card-author{
        @include center;
        width: 240px;
        height: fit-content;
        color: $color-font;
        .author-picture{
            @include center;
            width: 80px;
            height: 80px;
            border-radius: 100%;
            color: $light-color;
            background-color: $blue-color;
        }
        h2{
            padding: 20px 0 10px;
        }
        span{
            font-size: 10pt;
        }
        p{
            font-size: 11pt;
            text-align: center;
            padding-bottom: 10pt;
        }
        ul{
            position: inherit;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            width: 100%;
            list-style: none;
            li{
                a{
                    color: $color-font;
                }
            }
        }
    }
}