@import './src/vars.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: $ws;
    height: $fit;
    background-color: $bg-app;
}

#root {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}